h1{
    font-size: 45px;
}

body{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

main{
    padding: 3vw 25vw;
    display: flex;
    flex-direction: column;
}

body > div{
    display: flex;
    justify-content: flex-end;
    padding: 1vw;
}

header{
    padding-top: 1vw;
    padding-bottom: 1vw;
}


@media (max-width: 700px) {

}