h1{
    font-size: 45px;
}

main{
    padding: 3vw 25vw;
    display: flex;
    flex-direction: column;
}

body > div{
    display: flex;
    justify-content: flex-end;
    padding: 1vw;
}

header{
    padding-top: 1vw;
    padding-bottom: 1vw;
}

#popup{
    opacity: 0;
    background-color: var(--color-light-purple);
    color: springgreen;
    font-size: 17px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    height: 100px;
    max-height: 100%;
    border-radius: 5px;
    transition: visibility 0s 0.7s, opacity 0.7s linear;
}

#popup > div{
    padding: 30px;
    display: flex;
    align-items: center;
}

#popup > div > span{
    padding-right: 10px;
}


@media (max-width: 700px) {
}

/* img{
  position: absolute;
  top: 25%;
  bottom: 50%;
  right: 25%;
  left: 25%;
  display: none;
  width: 50%;

} */


#timeLeft{
    color:black;
    font-size:20px;
    display: inline;

    /* align-content: flex-start; */
}

#start{
    display: block;
}

#form{
    display: none;
}


#boxBack {
    position: fixed; z-index: 999;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    /* background: rgba(0, 0, 0, 0.5); */
    display: none;
}

#boxBack.show {
    display: block;
}

#boxWrap {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    min-width: 300px; max-width: 600px;
    padding: 10px;

    background: #fff;
}

.questionsResult{
    display: none;
    color: greenyellow;
}

.question > div {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    max-width: inherit;
}

.question > div > label{
    width: 250px;
    padding-left: 20px;
}

.disabled {
    display: none;

}

#timeLeft{
    font-size: 40px;
    margin: 16px;
}





